@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

.member{
    align-content: center;
    text-align: center ;
    font-size: 1.5em;
}



.executive{
    align-content: center;
    text-align: center ;
   
}